<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Cliente</title>
    <link rel="stylesheet" href="/cadastro.css">
</head>
<body>
<div class="form-container">
    <h1 th:text="${cliente.cnpjCpf} == null ? 'Cadastrar Cliente' : 'Editar Cliente'"></h1>

    <form th:action="@{/salvar-cliente}" th:object="${cliente}" method="post">
        <label>CNPJ/CPF:</label>
        <input type="text" th:field="*{cnpjCpf}" th:readonly="${cliente.cnpjCpf != null}" required />

        <label>Nome:</label>
        <input type="text" th:field="*{nome}" required />

        <label>CEP:</label>
        <input type="text" th:field="*{fkEnderecoCep}" required />

        <label>Rua:</label>
        <input type="text" th:field="*{ruaEndereco}" required />

        <label>Número:</label>
        <input type="text" th:field="*{numeroEndereco}" required />

        <label>Bairro:</label>
        <input type="text" th:field="*{bairroEndereco}" required />

        <label>Cidade:</label>
        <input type="text" th:field="*{cidadeEndereco}" required />

        <div class="buttons">
            <a th:href="@{/}" class="button-link">
                <button type="button" class="back-btn">Voltar para Home</button>
            </a>
            <button type="submit" class="submit-btn">Salvar</button>
        </div>
    </form>
</div>
</body>
</html>
