<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboards</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <header>
        <h1 class="main-title">Dashboards</h1>
    </header>
    <div class="grid-container">
        <div class="card">
            <h2>Clientes com Mais Serviços</h2>
            <a class="btn" href="/dashboards/clientes-top">Visualizar</a>
        </div>

        <div class="card">
            <h2>Serviços com Maior Valor (R$)</h2>
            <a class="btn" href="/dashboards/servicos-mais-caros">Visualizar</a>
        </div>
        
        <div class="card">
            <h3>Status de Serviços</h3>
            <a th:href="@{/dashboards/servicos-status}">Visualizar</a>
          </div>
    </div>
</body>
</html>
