<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Empresa</title>
</head>
<body>
<h1>Cadastrar Empresa</h1>

<form th:action="${empresa.cnpj} != null ? @{/empresa/atualizar} : @{/empresa/cadastrar}" method="post">
    <label>CNPJ:</label>
    <input type="text" name="cnpj" th:value="${empresa.cnpj}" th:readonly="${empresa.cnpj} != null" required><br> <!--Ele so pode ler, não editar-->

    <label>Nome:</label>
    <input type="text" name="nome" th:value="${empresa.nome}" required><br>

    <label>Contato:</label>
    <input type="text" name="contato" th:value="${empresa.contato}" required><br>
    <input type="text" name="cep" th:value="${endereco.cep}" required>
    <input type="text" name="rua" th:value="${endereco.rua}" required>
    <input type="text" name="numero" th:value="${endereco.numero}" required>
    <input type="text" name="bairro" th:value="${endereco.bairro}" required>
    <input type="text" name="cidade" th:value="${endereco.cidade}" required>

    <h3>Localização de Atuação</h3>
    <label>Localização:</label>
    <select name="localizacaoCodigo">
        <option th:each="localizacao : ${localizacoes}" 
                th:value="${localizacao.codigo}" 
                th:text="${localizacao.nomeEstado + ' - ' + localizacao.nomePais}">
        </option>
    </select><br><br>

    <button type="submit" th:text="${empresa.cnpj} != null ? 'Atualizar' : 'Cadastrar'"></button>

</form>

<div th:if="${erro}" style="color:red">
    <p th:text="${erro}"></p>
</div>
</body>
</html>