<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="/lista.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <nav class="sidebar">
        <h2 class="sidebar-title">Menu</h2>
        <a href="/" class="topic">Página Principal</a>
        <a href="/empresa/listar" class="topic">Empresas</a>
        <a href="funcionarios" class="topic">Funcionários</a>
        <a href="/localizacao/listar" class="topic">Localizações</a>
        <a href="/servicos" class="topic">Serviços</a>
        <a class="active">Clientes</a>
        <a href="/dashboards" class="topic">Dashboards</a>
    </nav>

    <main class="main-content">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>CNPJ/CPF</th>
                        <th>NOME</th>
                        <th>CEP</th>
                        <th>RUA</th>
                        <th>NÚMERO</th>
                        <th>BAIRRO</th>
                        <th>CIDADE</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.cnpjCpf}"></td>
                        <td th:text="${cliente.nome}"></td>
                        <td th:text="${cliente.fkEnderecoCep}"></td>
                        <td th:text="${cliente.ruaEndereco}"></td>
                        <td th:text="${cliente.numeroEndereco}"></td>
                        <td th:text="${cliente.bairroEndereco}"></td>
                        <td th:text="${cliente.cidadeEndereco}"></td>
                        <td>
                            <form th:action="@{/editar-cliente}" method="get" class="action-form" style="display:inline;">
                                <input type="hidden" name="cpf" th:value="${cliente.cnpjCpf}" />
                                <button type="submit" class="action-button"><i class="fas fa-edit"></i></button>
                            </form>
                        
                            <form th:action="@{/remover-cliente}" method="get" class="action-form" style="display:inline;"
                                  onsubmit="return confirm('Tem certeza que deseja remover este cliente?');">
                                <input type="hidden" name="cpf" th:value="${cliente.cnpjCpf}" />
                                <button type="submit" class="action-button delete"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn fixed-btn" href="/cliente">Cadastrar Cliente</a>
    </main> 
</body>
</html>
