<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Relatório do Serviço</title>
    <link rel="stylesheet" href="/lista.css">
</head>
<body>

<h1>Dados do Serviço</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Data Relatório</th>
            <th>Data Emissão da Medição</th>
            <th>Prazo de Trabalho</th>
            <th>Período Preparatório</th>
            <th>Trabalho de Campo</th>
            <th>Trabalho de Escritório</th>
            <th>Observações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${servico.id}"></td>
            <td th:text="${#dates.format(servico.dataRelatorio, 'dd/MM/yyyy')}"></td>
            <td th:text="${#dates.format(servico.dataEmissaoMedicao, 'dd/MM/yyyy')}"></td>
            <td th:text="${#dates.format(servico.prazoTrabalho, 'dd/MM/yyyy')}"></td>
            <td th:text="${servico.periodoPreparatorio} + ' dias'" ></td>
            <td th:text="${servico.periodoTrabalhoCampo} + ' dias'"></td>
            <td th:text="${servico.periodoTrabalhoEscritorio} + ' dias'"></td>
            <td th:text="${servico.observacoes}"></td>
        </tr>
    </tbody>
</table>

<div class="footer">
    <a href="/servicos" class="btn home-btn">Voltar</a>
</div>

</body>
</html>
